{% extends "core/base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IniciarSesion</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="/TestDjango/core/static/core/js/script.js"></script>
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> <!-- Enlace al archivo CSS -->
    </head>
    <body>



        <div class="container mt-4 d-flex justify-content-center align-items-center" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 15px;">
            <div class="col-md-6 text-center"> <!-- Ajusta el tamaño de la caja con col-md-* para centrar mejor -->
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="section-title text-center">Iniciar Sesión</h2>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <input type="email" placeholder="Ingrese su correo aquí" class="form-control" name="correo_electronico" id="correo" required style="width: 50%; margin: 0 auto;">
                    </div>
                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <input type="password" placeholder="Ingrese su contraseña aquí" class="form-control" name="contrasena" id="contrasena" required style="width: 50%; margin: 0 auto;">
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    
                    <p class="text-center">¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
                </form>
            </div>
        </div>
        
    </body>

</html>

{% endblock %}








