{% extends "core/base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en"></html>
  
  <body>

    <br>
    
    <h1 class="section-title text-center">Crear Discucion</h1>
    <div class="container mt-4 d-flex justify-content-center">
      
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-custom">Crear Discusion</button>
          <a href="{% url 'foro' %}" class="btn btn-custom">Volver al Foro</a>
      </form>
      
    </div>
    
    <br>
  </body>
</html>  
{% endblock %}