{% extends "core/base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en"></html>
  <body>
    <br>
    <h1 class="section-title text-center">Temas de discusión</h1>
<div class="container mt-4">
    <div class="row">
        {% for tema in temas %}
        <div class="col-md-4 mb-3">
            <div class="card border rounded">
                <div class="card-body">
                    <h5 class="card-title">
                      <a href="{% url 'tema_detail' tema.id %}" class="text-decoration-none">{{ tema.titulo }}</a>
                            
                        </a>
                    </h5>
                    <p class="card-text">{{ tema.content }}</p>
                    <small class="text-muted">por {{ tema.author}} - {{ tema.fecha_creacion }}</small>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary" href="{% url 'crear_tema' %}" role="button">Crear discusión</a>
</div>

 
    





    <!--
    <h1>Foro de Discusión</h1>

     Comprobar si hay temas 
    {% if temas %}
    <ul>
         Iterar sobre los temas 
        {% for tema in temas %}
            <li>
                <h2>{{ tema.titulo }}</h2>
                <p>{{ tema.descripcion }}</p>
                <small>Creado por: {{ tema.autor }} el {{ tema.fecha_creacion }}</small>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No hay temas aún. Sé el primero en crear uno!</p>
    {% endif %}
    -->

    <br>
  </body>
</html>  
{% endblock %}