{% extends "core/base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en"></html>
<body>
    <h1>Historial de Compras</h1>

    {% if compras_totales %}
        <ul>
            {% for item in compras_totales %}
                <li>
                    <p>Compra realizada por: {{ item.compra.usuario.username }}</p>
                    <p>Fecha de compra: {{ item.compra.fecha }}</p>
                    <ul>
                        {% for producto in item.compra.compraproducto_set.all %}
                            <li>{{ producto.producto.nombre }} - Cantidad: {{ producto.cantidad }} - Precio: ${{ producto.producto.precio }}</li>
                        {% endfor %}
                    </ul>
                    <p><strong>Total: ${{ item.total }}</strong></p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay compras registradas.</p>
    {% endif %}

</body>
</html>  
{% endblock %}