{% extends "core/base_generic.html" %}

{% block content %}
{% load static %} 
<!doctype html>
<html lang="en">

  <body>
    <!-- Carrusel -->  
    {% load static %} <!-- Cargar archivos estáticos -->

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'core/img/derroche.jpg' %}" alt="Los Angeles" style="width: 100%; height: 650px;">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title-carrusel">Productos Ecológicos, </h5>
            <p class="text-white">Directo a Tu Mesa Ofrecemos productos frescos y 100% orgánicos, cultivados sin pesticidas ni productos químicos dañinos. Disfruta de alimentos saludables que benefician tanto a tu bienestar como al medio ambiente.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'core/img/desenterrando.jpg' %}" alt="Los Angeles" style="width: 100%; height: 650px;">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title-carrusel">Protegemos los Recursos Naturales</h5>
            <p class="text-white">En ECOAGRÍCOLA, cuidamos del agua y del suelo con técnicas de cultivo regenerativo, asegurando la preservación de los ecosistemas. Con cada compra, estás ayudando a conservar los recursos para futuras generaciones.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/img/ecoagricola-brand.jpg' %}" alt="Los Angeles" style="width: 100%; height: 650px;">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title-carrusel">Cultivamos con Cuidado para el Futuro</h5>
            <p class="text-white">En ECOAGRÍCOLA, nuestra misión es fomentar una agricultura sostenible, utilizando prácticas que respetan la biodiversidad y reducen el impacto ambiental. ¡Únete a nosotros en la creación de un planeta más verde!</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  

    <form method="post">
      
      <!-- Tu contenido del formulario aquí -->
      <div class="container mt-4 d-flex justify-content-center" id="formularioContainer" style="background-size: cover; background-position: center; padding: 20px; border-radius: 15px;">
        <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 15px;">
          <!-- Título -->
          <h2 class="text-center mb-4 section-title">Formulario de Solicitud de Servicio</h2>
          {% csrf_token %}
          <!-- Nombre -->
          {{ form.as_p }}  <!-- Muestra todos los campos del formulario -->


           <!-- Tipo de Solicitud -->
          <div class="mb-3">
            <label for="id_tipo_solicitud" class="form-label">Tipo de Solicitud <span class="text-danger">*</span></label>
            <select class="form-select" id="id_tipo_solicitud" aria-required="true" required>
              <option value="" disabled selected>Selecciona el tipo de solicitud</option>
              <option value="retiro_aguas_piscina">Retiro de aguas de piscinas</option>
              <option value="retiro_arboles">Retiro de árboles</option>
            </select>
          </div>

          <!-- Cantidad de Árboles a Retirar (Solo se muestra si es seleccionado "Retiro de Árboles") -->
          <div class="mb-3" id="cantidadArboles" style="display: none;">
            <label for="cantidad_arboles" class="form-label">Cantidad de Árboles a Retirar <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="cantidad_arboles" name="cantidad_arboles" placeholder="Ingresa la cantidad de árboles" disabled>
          </div>

          <!-- Cantidad de Litros a Retirar (Solo se muestra si es seleccionado "Retiro de Aguas") -->
          <div class="mb-3" id="cantidadLitros" style="display: none;">
            <label for="cantidad_litros" class="form-label">Cantidad de Litros a Retirar <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="cantidad_litros" name="cantidad_litros" placeholder="Ingresa la cantidad de litros" disabled>
          </div>



          <!-- Botón de Enviar -->
          <div class="text-center mb-5">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
            <a href="{% url 'lista_solicitudes' %}">ver lista</a>
          </div>
      
          <!-- Mensaje de Éxito -->
          <div id="mensajeExito" class="alert alert-success text-center" style="display: none;">
            ¡El formulario ha sido enviado con éxito!
          </div>
      
          <!-- Mensaje de Error -->
          <div id="mensajeError" class="alert alert-danger text-center" style="display: none;">
            Debes llenar todos los campos obligatorios.
          </div>
        </div>
      </div>

    </form>

  



    <script>
      document.getElementById('id_tipo_solicitud').addEventListener('change', function() {
          var tipo = this.value;
          var formularioContainer = document.getElementById('formularioContainer');

          if (tipo === 'retiro_arboles') {
              document.getElementById('cantidadArboles').style.display = 'block';
              document.getElementById('cantidadLitros').style.display = 'none';
              formularioContainer.style.backgroundImage = "url('{% static 'core/img/arrancar-arbol.jpg' %}')";
          } else if (tipo === 'retiro_aguas_piscina') {
              document.getElementById('cantidadLitros').style.display = 'block';
              document.getElementById('cantidadArboles').style.display = 'none';
              formularioContainer.style.backgroundImage = "url('{% static 'core/img/extraction.jpg' %}')";
          } else {
              document.getElementById('cantidadArboles').style.display = 'none';
              document.getElementById('cantidadLitros').style.display = 'none';
              formularioContainer.style.backgroundImage = "";
          }
      });


      document.getElementById('id_tipo_solicitud').addEventListener('change', function() {
        var tipo = this.value;
        var formularioContainer = document.getElementById('formularioContainer');
        var cantidadArboles = document.getElementById('cantidadArboles');
        var cantidadLitros = document.getElementById('cantidadLitros');
        var inputArboles = document.getElementById('cantidad_arboles');
        var inputLitros = document.getElementById('cantidad_litros');

        if (tipo === 'retiro_arboles') {
            // Mostrar y activar el campo de cantidad de árboles
            cantidadArboles.style.display = 'block';
            inputArboles.disabled = false;

            // Ocultar y desactivar el campo de cantidad de litros
            cantidadLitros.style.display = 'none';
            inputLitros.disabled = true;

            // Cambiar la imagen de fondo
            formularioContainer.style.backgroundImage = "url('{% static 'core/img/arrancar-arbol.jpg' %}')";

        } else if (tipo === 'retiro_aguas_piscina') {
            // Mostrar y activar el campo de cantidad de litros
            cantidadLitros.style.display = 'block';
            inputLitros.disabled = false;

            // Ocultar y desactivar el campo de cantidad de árboles
            cantidadArboles.style.display = 'none';
            inputArboles.disabled = true;

            // Cambiar la imagen de fondo
            formularioContainer.style.backgroundImage = "url('{% static 'core/img/extraction.jpg' %}')";
        } else {
            // Ocultar y desactivar ambos campos si no es ninguno de los dos tipos
            cantidadArboles.style.display = 'none';
            inputArboles.disabled = true;
            
            cantidadLitros.style.display = 'none';
            inputLitros.disabled = true;

            // Eliminar la imagen de fondo
            formularioContainer.style.backgroundImage = "";
        }
    });
    
    </script>
  </body>
</html>
{% endblock %}