{% extends "core/base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en"></html>
  <body>

    
<h1>{{ tema.titulo }}</h1>
<p>{{ tema.content }}</p>
<p>Autor: {{ tema.author }}</p>
<p>Fecha: {{ tema.fecha_creacion }}</p>


<h2>Comentarios</h2>
<ul>
    {% for comment in comments %}
        <li>
            <p>{{ comment.author }}: {{ comment.content }}</p>
            <p>{{ comment.created_at }}</p>
        </li>
    {% empty %}
        <li>No hay comentarios, se el primero en comentar!</li>
    {% endfor %}
</ul>

<h2>Agregar comentario</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Añadir comentario</button>
</form>

    </body>
</html>  
{% endblock %} 