{% extends "core/base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en"></html>
  <body>

    
<h1>{{ tema.title }}</h1>
<p>{{ tema.content }}</p>
<p>Author: {{ tema.author }}</p>
<p>Created at: {{ tema.fecha_creacion }}</p>


<h2>Comments</h2>
<ul>
    {% for comment in comments %}
        <li>
            <p>{{ comment.author }} said: {{ comment.content }}</p>
            <p>{{ comment.created_at }}</p>
        </li>
    {% empty %}
        <li>No comments yet. Be the first to comment!</li>
    {% endfor %}
</ul>

<h2>Add a Comment</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Comment</button>
</form>

    </body>
</html>  
{% endblock %} 